<template>
  <div>
    <div>Delivery Kinds</div>

    <delivery-kind-list
      v-if="!isLoading"
      v-bind:deliveryKinds="deliveryKinds"
      @delivery-kind-list-create="showEdit"
      @delivery-kind-list-update="showEdit"
      @delivery-kind-list-delete="handleDelete" />
    <div v-else>Loading...</div>

    <delivery-kind-edit
      v-if="editingDeliveryKind"
      v-model="editingDeliveryKind"
      @delivery-kind-edit-accept="handleEdit"
      @delivery-kind-edit-cancel="hideEdit" />

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import DeliveryKind from '@/models/DeliveryKind'
import DeliveryKindService from '@/services/DeliveryKindService'
import DeliveryKindList from '@/components/DeliveryKindList.vue'
import DeliveryKindEdit from '@/components/DeliveryKindEdit.vue'

export default defineComponent({
  name: 'DeliveryKinds',
  components: {
    DeliveryKindList,
    DeliveryKindEdit
  },
  data () {
    return {
      deliveryKinds: new Array<DeliveryKind>(),
      isLoading: false,
      editingDeliveryKind: null as DeliveryKind | null
    }
  },
  methods: {
    showEdit (deliveryKind: DeliveryKind | undefined) {
      if (!deliveryKind) {
        deliveryKind = {} as DeliveryKind
      }

      this.editingDeliveryKind = deliveryKind
    },

    hideEdit () {
      this.editingDeliveryKind = null
    },

    handleEdit (deliveryKind: DeliveryKind) {
      if (!this.editingDeliveryKind) { return }

      if (!deliveryKind.id) {
        DeliveryKindService
          .create(deliveryKind)
          .then((dk: DeliveryKind) => { this.deliveryKinds.push(dk) })
          .finally(() => { this.hideEdit() })
      } else {
        DeliveryKindService
          .update(deliveryKind.id, deliveryKind)
          .then((dk: DeliveryKind) => { this.deliveryKinds.splice(this.findIndex(dk.id), 1, dk) })
          .finally(() => { this.hideEdit() })
      }
    },

    handleDelete (deliveryKind: DeliveryKind) {
      if (window.confirm('Delete delivery kind `' + deliveryKind.code + '`?')) {
        DeliveryKindService
          .delete(deliveryKind.id)
          .then(() => { this.deliveryKinds.splice(this.findIndex(deliveryKind.id), 1) })
      }
    },

    findIndex (deliveryKindId: string) {
      return this.deliveryKinds.findIndex(({ id }) => id === deliveryKindId)
    }
  },

  created () {
    this.isLoading = true

    DeliveryKindService
      .retrieveAll()
      .then((deliveryKinds: Array<DeliveryKind>) => { this.deliveryKinds = deliveryKinds })
      .catch((error: Error) => {
        console.log('error loading delivery kinds page: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
