<template>
  Home
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Home',

  components: {
  }

})
</script>

<style scoped lang="scss">
</style>
