<template>
  <div>
    <div>Messages</div>
    <div>Namespace: {{ namespaceId }}</div>

    <message-list
      v-if="!isLoading"
      v-bind:messages="messages"
      v-bind:deliveryKinds="deliveryKinds"
      v-bind:messageKinds="messageKinds"
      @message-list-refresh="refreshList"
      @message-list-create="showCreate"
      @message-list-view="showView" />
    <div v-else>Loading...</div>

    <message-view
      v-if="viewingMessage"
      v-model="viewingMessage"
      v-bind:messageKinds="messageKinds"
      v-bind:deliveryKinds="deliveryKinds"
      @message-view-close="hideView" />

    <message-create
      v-if="creatingMessage"
      v-model="creatingMessage"
      v-bind:messageKinds="messageKinds"
      v-bind:deliveryKinds="deliveryKinds"
      @message-create-accept="handleCreate"
      @message-create-cancel="hideCreate" />

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Message from '@/models/Message'
import MessageService from '@/services/MessageService'
import MessageList from '@/components/MessageList.vue'
import MessageView from '@/components/MessageView.vue'
import MessageCreate from '@/components/MessageCreate.vue'

import DeliveryKind from '@/models/DeliveryKind'
import MessageKind from '@/models/MessageKind'
import MessageRequest from '@/models/MessageRequest'
import DeliveryKindService from '@/services/DeliveryKindService'
import MessageKindService from '@/services/MessageKindService'

export default defineComponent({
  name: 'Messages',
  components: {
    MessageList,
    MessageView,
    MessageCreate
  },
  data () {
    return {
      messages: new Array<Message>(),
      deliveryKinds: new Array<DeliveryKind>(),
      messageKinds: new Array<MessageKind>(),
      namespaceId: null as string | null,
      // namespaceId: '3cc3930d-2c0a-4e4f-a940-4f98def887a5' as string | null,
      // namespaceId: '5408c4cb-9671-408a-9c1c-5f7ea2c62eca' as string | null,
      isLoading: false,
      creatingMessage: null as MessageRequest | null,
      viewingMessage: null as Message | null
    }
  },
  methods: {
    refreshList (messageKind: MessageKind | null) {
      let filter = ''

      if (messageKind) {
        filter += `messageKindId eq '${messageKind.id}'`
      }

      MessageService
        .retrieveAll(this.namespaceId, filter)
        .then((messages: Array<Message>) => { this.messages = messages })
    },

    showView (message: Message) {
      this.viewingMessage = message
    },

    hideView () {
      this.viewingMessage = null
    },

    showCreate () {
      this.creatingMessage = { input: {} } as MessageRequest
    },

    hideCreate () {
      this.creatingMessage = null
    },

    handleCreate (message: MessageRequest) {
      if (!this.creatingMessage) { return }

      MessageService
        .create(message, this.namespaceId)
        .then((m: Message) => { this.messages.push(m) })
        .finally(() => { this.hideCreate() })
    }
  },

  created () {
    this.isLoading = true

    MessageService
      .retrieveAll(this.namespaceId, null)
      .then((messages: Array<Message>) => { this.messages = messages })
      .then(() => { return DeliveryKindService.retrieveAll() })
      .then((deliveryKinds: Array<DeliveryKind>) => { this.deliveryKinds = deliveryKinds })
      .then(() => { return MessageKindService.retrieveAll(this.namespaceId, null) })
      .then((messageKinds: Array<MessageKind>) => { this.messageKinds = messageKinds })
      .catch((error: Error) => {
        console.log('error loading messages page: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
