<template>
  <div v-if="!isLoading">
    ID: {{ messageKind.id }}<br />
    Code: {{ messageKind.code }}<br />
    Namespace: {{ namespace.code }}<br />
    Disabled: {{ messageKind.disabled }}<br />
    Create Time: {{ messageKind.createTime }}<br />
    Update Time: {{ messageKind.updateTime }}<br />
    <hr />
    <div v-for="t in templates" v-bind:key="t.id">
      <div>
        Template<br />
        ID: {{ t.id }}<br />
        Template Kind: {{ templateKindDisplayForTemplate(t) }}<br />
        Language Tag: {{ t.languageTag }}<br />
        Body: {{ t.body }}<br />
        Create Time: {{ t.createTime }}<br />
        Update Time: {{ t.updateTime }}
      </div>
      <hr />
    </div>
    <div v-for="m in messages" v-bind:key="m.id">
      <div>
        <div>
          Message<br />
          ID: {{ m.id }}<br />
          Language Tag: {{ m.languageTag }}<br />
          Input: {{ m.input }}<br />
          Create Time: {{ m.createTime }}
        </div>
        Deliveries:
        <ul>
          <li v-for="d in m.deliveries" v-bind:key="d.id">
            {{ d.deliverTime }} - {{ deliveryKindDisplayForDelivery(d) }} {{ d.status }}
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <button @click="handleShowCreateMessage()">Create new message</button>
  </div>
  <div v-else>Loading...</div>

  <MessageCreate
    v-if="creatingMessage"
    v-model="creatingMessage.message"
    v-bind:messageKind="creatingMessage.messageKind"
    v-bind:deliveryKinds="deliveryKinds"
    @message-create-accept="handleAcceptCreateMessage"
    @message-create-cancel="handleCancelCreateMessage" />

</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Delivery from '@/models/Delivery'
import DeliveryKind from '@/models/DeliveryKind'
import Message from '@/models/Message'
import MessageKind from '@/models/MessageKind'
import MessageRequest from '@/models/MessageRequest'
import Namespace from '@/models/Namespace'
import Template from '@/models/Template'
import TemplateKind from '@/models/TemplateKind'
import DeliveryKindService from '@/services/DeliveryKindService'
import MessageService from '@/services/MessageService'
import MessageKindService from '@/services/MessageKindService'
import NamespaceService from '@/services/NamespaceService'
import TemplateService from '@/services/TemplateService'
import TemplateKindService from '@/services/TemplateKindService'
import MessageCreate from '@/components/MessageCreate.vue'

export default defineComponent({
  name: 'MessageKind',

  components: {
    MessageCreate
  },

  props: {
    id: {
      type: String,
      required: true
    },
    namespaceId: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      messageKind: null as MessageKind | null,
      namespace: null as Namespace | null,
      messages: new Array<Message>(),
      templates: new Array<Template>(),
      deliveryKinds: new Array<DeliveryKind>(),
      templateKinds: new Array<TemplateKind>(),
      isLoading: false,
      creatingMessage: null as {} | null
    }
  },

  methods: {
    handleShowCreateMessage () {
      const message = {
        messageKind: this.messageKind && this.messageKind.code
      } as MessageRequest

      this.showCreateMessage(message)
    },

    handleAcceptCreateMessage (message: MessageRequest) {
      this.createMessage(message)
        .then((m: Message) => { this.addMessage(m) })
        .finally(() => { this.hideCreateMessage() })
    },

    handleCancelCreateMessage () {
      this.hideCreateMessage()
    },

    showCreateMessage (message: MessageRequest) {
      this.creatingMessage = {
        message: message,
        messageKind: this.messageKind
      }
    },

    hideCreateMessage () {
      this.creatingMessage = null
    },

    addMessage (message: Message) {
      const i = this.messages.findIndex(({ id }) => id === message.id)
      if (i >= 0) {
        this.messages.splice(i, 1, message)
      } else {
        this.messages.push(message)
      }
    },

    templateKind (value: string): TemplateKind | undefined {
      return this.templateKinds.find(({ id }) => id === value)
    },

    deliveryKind (value: string): DeliveryKind | undefined {
      return this.deliveryKinds.find(({ id, code }) => id === value || code === value)
    },

    templateKindDisplayForTemplate (template: Template): string {
      const tk = this.templateKind(template.templateKindId)
      if (!tk) { return '(invalid)' }

      const dk = this.deliveryKind(tk.deliveryKindId)
      if (!dk) { return '(invalid)' }

      return `${dk.code}/${tk.targetAttr}`
    },

    deliveryKindDisplayForDelivery (delivery: Delivery): string {
      const dk = this.deliveryKind(delivery.deliveryKind)
      if (!dk) { return '(invalid)' }

      return dk.code
    },

    async loadMessageKind () {
      return MessageKindService
        .retrieve(this.id, this.namespaceId)
        .then((messageKind: MessageKind) => { this.messageKind = messageKind })
    },

    async loadNamespace () {
      return NamespaceService
        .retrieve(this.namespaceId)
        .then((namespace: Namespace) => { this.namespace = namespace })
    },

    async loadTemplates () {
      return TemplateService
        .retrieveAll(this.namespaceId, `messageKindId eq '${this.id}'`)
        .then((templates: Array<Template>) => { this.templates = templates })
    },

    async loadMessages () {
      return MessageService
        .retrieveAll(this.namespaceId, `messageKindId eq '${this.id}'`)
        .then((messages: Array<Message>) => { this.messages = messages })
    },

    async createMessage (message: MessageRequest) {
      return MessageService.create(message, this.namespaceId)
    },

    async loadDeliveryKinds () {
      return DeliveryKindService
        .retrieveAll()
        .then((deliveryKinds: Array<DeliveryKind>) => { this.deliveryKinds = deliveryKinds })
    },

    async loadTemplateKinds () {
      return TemplateKindService
        .retrieveAll()
        .then((templateKinds: Array<TemplateKind>) => { this.templateKinds = templateKinds })
    }
  },

  created () {
    this.isLoading = true

    this.loadMessageKind()
      .then(() => this.loadNamespace())
      .then(() => this.loadTemplates())
      .then(() => this.loadMessages())
      .then(() => this.loadDeliveryKinds())
      .then(() => this.loadTemplateKinds())
      .catch((error: Error) => {
        console.log('error loading message kind view: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
