<template>
  <div>
    <div>Message Kinds</div>
    <div>Namespace: {{ namespaceId }}</div>

    <message-kind-list
      v-if="!isLoading"
      v-bind:messageKinds="messageKinds"
      v-bind:namespaces="namespaces"
      @message-kind-list-create="showEdit"
      @message-kind-list-update="showEdit"
      @message-kind-list-delete="handleDelete" />
    <div v-else>Loading...</div>

    <message-kind-edit
      v-if="editingMessageKind"
      v-model="editingMessageKind"
      v-bind:namespaces="namespaces"
      @message-kind-edit-accept="handleEdit"
      @message-kind-edit-cancel="hideEdit" />

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import MessageKind from '@/models/MessageKind'
import MessageKindService from '@/services/MessageKindService'
import MessageKindList from '@/components/MessageKindList.vue'
import MessageKindEdit from '@/components/MessageKindEdit.vue'

import Namespace from '@/models/Namespace'
import NamespaceService from '@/services/NamespaceService'

export default defineComponent({
  name: 'MessageKinds',
  components: {
    MessageKindList,
    MessageKindEdit
  },
  data () {
    return {
      messageKinds: new Array<MessageKind>(),
      namespaces: new Array<Namespace>(),
      namespaceId: null as string | null,
      isLoading: false,
      editingMessageKind: null as MessageKind | null
    }
  },
  methods: {
    showEdit (messageKind: MessageKind | undefined) {
      if (!messageKind) {
        messageKind = {} as MessageKind
      }

      this.editingMessageKind = messageKind
    },

    hideEdit () {
      this.editingMessageKind = null
    },

    handleEdit (messageKind: MessageKind) {
      if (!this.editingMessageKind) { return }

      if (!messageKind.id) {
        MessageKindService
          .create(messageKind, this.namespaceId)
          .then((mk: MessageKind) => { this.messageKinds.push(mk) })
          .finally(() => { this.hideEdit() })
      } else {
        MessageKindService
          .update(messageKind.id, messageKind, this.namespaceId)
          .then((mk: MessageKind) => { this.messageKinds.splice(this.findIndex(messageKind.id), 1, mk) })
          .finally(() => { this.hideEdit() })
      }
    },

    handleDelete (messageKind: MessageKind) {
      if (window.confirm('Delete message kind `' + messageKind.code + '`?')) {
        MessageKindService
          .delete(messageKind.id, this.namespaceId)
          .then(() => { this.messageKinds.splice(this.findIndex(messageKind.id), 1) })
      }
    },

    findIndex (messageKindId: string) {
      return this.messageKinds.findIndex(({ id }) => id === messageKindId)
    }
  },

  created () {
    this.isLoading = true

    MessageKindService
      .retrieveAll(this.namespaceId, null)
      .then((messageKinds: Array<MessageKind>) => { this.messageKinds = messageKinds })
      .then(() => { return NamespaceService.retrieveAll() })
      .then((namespaces: Array<Namespace>) => { this.namespaces = namespaces })
      .catch((error: Error) => {
        console.log('error loading message kinds page: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
