<template>
  <div v-if="!isLoading">
    Namespace<br />
    ID: {{ namespace.id }}<br />
    Code: {{ namespace.code }}<br />
    Create Time: {{ namespace.createTime }}<br />
    Update Time: {{ namespace.updateTime }}<br />
    <hr />
    Message Kinds <button @click="handleShowCreateMessageKind()">+</button>
    <div v-for="mk in messageKinds" v-bind:key="mk.id" v-bind:class="{ disabled: mk.disabled }">
        {{ mk.id }}
        <router-link :to="{ name: 'messageKind', params: { id: mk.id, namespaceId: namespace.id }}">{{ mk.code }}</router-link>
    </div>
  </div>
  <div v-else>Loading...</div>

  <MessageKindEdit
    v-if="creatingMessageKind"
    v-model="creatingMessageKind.messageKind"
    v-bind:namespace="creatingMessageKind.namespace"
    @message-kind-edit-accept="handleAcceptCreateMessageKind"
    @message-kind-edit-cancel="handleCancelCreateMessageKind" />

</template>

<script lang="ts">
import { defineComponent } from 'vue'

import MessageKind from '@/models/MessageKind'
import Namespace from '@/models/Namespace'
import MessageKindService from '@/services/MessageKindService'
import NamespaceService from '@/services/NamespaceService'
import MessageKindEdit from '@/components/MessageKindEdit.vue'

export default defineComponent({
  name: 'Namespace',

  components: {
    MessageKindEdit
  },

  props: {
    id: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      namespace: null as Namespace | null,
      messageKinds: new Array<MessageKind>(),
      isLoading: false,
      creatingMessageKind: null as {} | null
    }
  },

  methods: {
    handleShowCreateMessageKind () {
      const messageKind = {
        namespaceId: this.id
      } as MessageKind

      this.showCreateMessageKind(messageKind)
    },

    handleAcceptCreateMessageKind (messageKind: MessageKind) {
      this.createMessageKind(messageKind)
        .then((mk: MessageKind) => { this.addMessageKind(mk) })
        .finally(() => { this.hideCreateMessageKind() })
    },

    handleCancelCreateMessageKind () {
      this.hideCreateMessageKind()
    },

    showCreateMessageKind (messageKind: MessageKind) {
      this.creatingMessageKind = {
        messageKind: messageKind,
        namespace: this.namespace
      }
    },

    hideCreateMessageKind () {
      this.creatingMessageKind = null
    },

    addMessageKind (messageKind: MessageKind) {
      const i = this.messageKinds.findIndex(({ id }) => id === messageKind.id)
      if (i >= 0) {
        this.messageKinds.splice(i, 1, messageKind)
      } else {
        this.messageKinds.push(messageKind)
      }
    },

    async loadNamespace () {
      return NamespaceService
        .retrieve(this.id)
        .then((namespace: Namespace) => { this.namespace = namespace })
    },

    async loadMessageKinds () {
      return MessageKindService
        .retrieveAll(this.id, null)
        .then((messageKinds: Array<MessageKind>) => { this.messageKinds = messageKinds })
    },

    async createMessageKind (messageKind: MessageKind) {
      return MessageKindService.create(messageKind, this.id)
    }

  },

  created () {
    this.isLoading = true

    this.loadNamespace()
      .then(() => this.loadMessageKinds())
      .catch((error: Error) => {
        console.log('error loading namespace view: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
.disabled {
  color: #808080;
}
</style>
