<template>
  <div>
    <div>Namespaces</div>

    <namespace-list
      v-if="!isLoading"
      v-bind:namespaces="namespaces"
      @namespace-list-create="showEdit"
      @namespace-list-update="showEdit"
      @namespace-list-delete="handleDelete" />
    <div v-else>Loading...</div>

    <namespace-edit
      v-if="editingNamespace"
      v-model="editingNamespace"
      @namespace-edit-accept="handleEdit"
      @namespace-edit-cancel="hideEdit" />

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Namespace from '@/models/Namespace'
import NamespaceService from '@/services/NamespaceService'
import NamespaceList from '@/components/NamespaceList.vue'
import NamespaceEdit from '@/components/NamespaceEdit.vue'

export default defineComponent({
  name: 'Namespaces',

  components: {
    NamespaceList,
    NamespaceEdit
  },

  data () {
    return {
      namespaces: new Array<Namespace>(),
      isLoading: false,
      editingNamespace: null as Namespace | null
    }
  },

  methods: {
    showEdit (namespace: Namespace | undefined) {
      if (!namespace) {
        namespace = {} as Namespace
      }

      this.editingNamespace = namespace
    },

    hideEdit () {
      this.editingNamespace = null
    },

    handleEdit (namespace: Namespace) {
      if (!this.editingNamespace) { return }

      if (!namespace.id) {
        NamespaceService
          .create(namespace)
          .then((n: Namespace) => { this.namespaces.push(n) })
          .finally(() => { this.hideEdit() })
      } else {
        NamespaceService
          .update(namespace.id, namespace)
          .then((n: Namespace) => { this.namespaces.splice(this.findIndex(namespace.id), 1, n) })
          .finally(() => { this.hideEdit() })
      }
    },

    handleDelete (namespace: Namespace) {
      if (window.confirm('Delete namespace `' + namespace.code + '`?')) {
        NamespaceService
          .delete(namespace.id)
          .then(() => { this.namespaces.splice(this.findIndex(namespace.id), 1) })
      }
    },

    findIndex (namespaceId: string) {
      return this.namespaces.findIndex(({ id }) => id === namespaceId)
    }
  },

  created () {
    this.isLoading = true

    NamespaceService
      .retrieveAll()
      .then((namespaces: Array<Namespace>) => { this.namespaces = namespaces })
      .catch((error: Error) => {
        console.log('error loading namespaces page: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
