<template>
  <div>
    <div>Templates</div>
    <div>Namespace: {{ namespaceId }}</div>

    <template-list
      v-if="!isLoading"
      v-bind:templates="templates"
      v-bind:deliveryKinds="deliveryKinds"
      v-bind:messageKinds="messageKinds"
      v-bind:templateKinds="templateKinds"
      @template-list-create="showEdit"
      @template-list-update="showEdit"
      @template-list-delete="handleDelete" />
    <div v-else>Loading...</div>

    <template-edit
      v-if="editingTemplate"
      v-model="editingTemplate"
      v-bind:deliveryKinds="deliveryKinds"
      v-bind:messageKinds="messageKinds"
      v-bind:templateKinds="templateKinds"
      @template-edit-accept="handleEdit"
      @template-edit-cancel="hideEdit" />

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Template from '@/models/Template'
import TemplateService from '@/services/TemplateService'
import TemplateList from '@/components/TemplateList.vue'
import TemplateEdit from '@/components/TemplateEdit.vue'

import DeliveryKind from '@/models/DeliveryKind'
import MessageKind from '@/models/MessageKind'
import TemplateKind from '@/models/TemplateKind'
import DeliveryKindService from '@/services/DeliveryKindService'
import MessageKindService from '@/services/MessageKindService'
import TemplateKindService from '@/services/TemplateKindService'

export default defineComponent({
  name: 'Templates',
  components: {
    TemplateList,
    TemplateEdit
  },
  data () {
    return {
      templates: new Array<Template>(),
      deliveryKinds: new Array<DeliveryKind>(),
      messageKinds: new Array<MessageKind>(),
      templateKinds: new Array<TemplateKind>(),
      namespaceId: null as string | null,
      isLoading: false,
      editingTemplate: null as Template | null
    }
  },
  methods: {
    showEdit (template: Template | undefined) {
      if (!template) {
        template = {} as Template
      }

      this.editingTemplate = template
    },

    hideEdit () {
      this.editingTemplate = null
    },

    handleEdit (template: Template) {
      if (!this.editingTemplate) { return }

      if (!template.id) {
        TemplateService
          .create(template, this.namespaceId)
          .then((t: Template) => { this.templates.push(t) })
          .finally(() => { this.hideEdit() })
      } else {
        TemplateService
          .update(template.id, template, this.namespaceId)
          .then((t: Template) => { this.templates.splice(this.findIndex(template.id), 1, t) })
          .finally(() => { this.hideEdit() })
      }
    },

    handleDelete (template: Template) {
      if (window.confirm('Delete message kind `' + template.id + '`?')) {
        TemplateService
          .delete(template.id, this.namespaceId)
          .then(() => { this.templates.splice(this.findIndex(template.id), 1) })
      }
    },

    findIndex (templateId: string) {
      return this.templates.findIndex(({ id }) => id === templateId)
    }
  },

  created () {
    this.isLoading = true

    TemplateService
      .retrieveAll(this.namespaceId, null)
      .then((templates: Array<Template>) => { this.templates = templates })
      .then(() => { return DeliveryKindService.retrieveAll() })
      .then((deliveryKinds: Array<DeliveryKind>) => { this.deliveryKinds = deliveryKinds })
      .then(() => { return MessageKindService.retrieveAll(this.namespaceId, null) })
      .then((messageKinds: Array<MessageKind>) => { this.messageKinds = messageKinds })
      .then(() => { return TemplateKindService.retrieveAll() })
      .then((templateKinds: Array<TemplateKind>) => { this.templateKinds = templateKinds })
      .catch((error: Error) => {
        console.log('error loading templates page: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
