<template>
  <div>
    <div>Template Kinds</div>

    <template-kind-list
      v-if="!isLoading"
      v-bind:templateKinds="templateKinds"
      v-bind:deliveryKinds="deliveryKinds"
      @template-kind-list-create="showEdit"
      @template-kind-list-update="showEdit"
      @template-kind-list-delete="handleDelete" />
    <div v-else>Loading...</div>

    <template-kind-edit
      v-if="editingTemplateKind"
      v-model="editingTemplateKind"
      v-bind:deliveryKinds="deliveryKinds"
      @template-kind-edit-accept="handleEdit"
      @template-kind-edit-cancel="hideEdit" />

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import TemplateKind from '@/models/TemplateKind'
import TemplateKindService from '@/services/TemplateKindService'
import TemplateKindList from '@/components/TemplateKindList.vue'
import TemplateKindEdit from '@/components/TemplateKindEdit.vue'

import DeliveryKind from '@/models/DeliveryKind'
import DeliveryKindService from '@/services/DeliveryKindService'

export default defineComponent({
  name: 'TemplateKinds',
  components: {
    TemplateKindList,
    TemplateKindEdit
  },
  data () {
    return {
      templateKinds: new Array<TemplateKind>(),
      deliveryKinds: new Array<DeliveryKind>(),
      isLoading: false,
      editingTemplateKind: null as TemplateKind | null
    }
  },
  methods: {
    showEdit (templateKind: TemplateKind | undefined) {
      if (!templateKind) {
        templateKind = {} as TemplateKind
      }

      this.editingTemplateKind = templateKind
    },

    hideEdit () {
      this.editingTemplateKind = null
    },

    handleEdit (templateKind: TemplateKind) {
      if (!this.editingTemplateKind) { return }

      if (!templateKind.id) {
        TemplateKindService
          .create(templateKind)
          .then((tk: TemplateKind) => { this.templateKinds.push(tk) })
          .finally(() => { this.hideEdit() })
      } else {
        TemplateKindService
          .update(templateKind.id, templateKind)
          .then((tk: TemplateKind) => { this.templateKinds.splice(this.findIndex(templateKind.id), 1, tk) })
          .finally(() => { this.hideEdit() })
      }
    },

    handleDelete (templateKind: TemplateKind) {
      if (window.confirm('Delete template kind `' + templateKind.id + '`?')) {
        TemplateKindService
          .delete(templateKind.id)
          .then(() => { this.templateKinds.splice(this.findIndex(templateKind.id), 1) })
      }
    },

    findIndex (templateKindId: string) {
      return this.templateKinds.findIndex(({ id }) => id === templateKindId)
    }
  },

  created () {
    this.isLoading = true

    TemplateKindService
      .retrieveAll()
      .then((templateKinds: Array<TemplateKind>) => { this.templateKinds = templateKinds })
      .then(() => { return DeliveryKindService.retrieveAll() })
      .then((deliveryKinds: Array<DeliveryKind>) => { this.deliveryKinds = deliveryKinds })
      .catch((error: Error) => {
        console.log('error loading template kinds page: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
