<template>
  <div>
    <div>
      ID: {{ dk.id }}
      <br />
      Code: <input v-model="dk.code" />
      <br />
      Host: <input v-model="dk.host" />
      <br />
      Disabled: <input type="checkbox" v-model="dk.disabled" />
      <br />
      Create Time: {{ dk.createTime }}
      <br />
      Update Time: {{ dk.updateTime }}
    </div>
    <button @click="$emit('delivery-kind-edit-accept', dk)">OK</button>
    <button @click="$emit('delivery-kind-edit-cancel', dk)">Cancel</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import DeliveryKind from '@/models/DeliveryKind'

export default defineComponent({
  name: 'DeliveryKindEdit',
  props: {
    modelValue: {
      type: Object as () => DeliveryKind,
      required: true
    }
  },

  computed: {
    dk (): DeliveryKind {
      return Object.assign({}, this.modelValue)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
