<template>
  <div>
    {{ modelValue.code }}
    <span v-if="modelValue.disabled">(disabled)</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import DeliveryKind from '@/models/DeliveryKind'

export default defineComponent({
  name: 'DeliveryKindPreview',
  props: {
    modelValue: {
      type: Object as () => DeliveryKind,
      required: true
    }
  }
})
</script>

<style scoped lang="scss">
</style>
