<template>
  <div>
    <ul>
      <li
        v-for="dk in deliveryKinds"
        v-bind:key="dk.id"
      >
        <delivery-kind-preview :modelValue="dk" />
        <button @click="$emit('delivery-kind-list-update', dk)">edit</button>
        <button @click="$emit('delivery-kind-list-delete', dk)">delete</button>
      </li>
    </ul>
    <button @click="$emit('delivery-kind-list-create')">Create</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import DeliveryKind from '@/models/DeliveryKind'
import DeliveryKindPreview from '@/components/DeliveryKindPreview.vue'

export default defineComponent({
  name: 'DeliveryKindList',
  components: {
    DeliveryKindPreview
  },
  props: {
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: true
    }
  }
})
</script>

<style scoped lang="scss">
</style>
