<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <div id="counter">
      OTEL collector URI: {{ otelCollectorUri }}
    </div>
    <button @click="register">register tracer</button><br />
    <button @click="browserFetch">browser fetch()</button>
    <button @click="vueAxios">vue axios</button>
    <button @click="rawSync">raw sync</button>
    <button @click="rawAsync">raw async</button>
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import { defineComponent } from 'vue'
// import { B3Propagator } from '@opentelemetry/core'
import { SimpleSpanProcessor } from '@opentelemetry/tracing'
import { WebTracerProvider } from '@opentelemetry/web'
import { CollectorTraceExporter } from '@opentelemetry/exporter-collector'
// import { DocumentLoad } from '@opentelemetry/plugin-document-load'
import { XMLHttpRequestPlugin } from '@opentelemetry/plugin-xml-http-request'
// import { XMLHttpRequestInstrumentation } from '@opentelemetry/instrumentation-xml-http-request'
// import { ZoneContextManager } from '@opentelemetry/context-zone'

export default defineComponent({
  name: 'HelloWorld',

  props: {
    msg: String
    // status: {
    //   type: String,
    //   required: true,
    //   validator: value => {
    //     return [
    //       'syncing',
    //       'synced',
    //       'version-conflict',
    //       'error'
    //     ].includes(value)
    //   }
    // }
  },

  data () {
    return {
      otelCollectorUri: 'http://localhost:55681/v1/trace',
      testUri: 'http://localhost:50000/messages'
    }
  },

  mounted () {
    this.register()
  },

  methods: {
    register () {
      console.log(window.location.origin)

      const webTracer = new WebTracerProvider({
        // contextManager: new ZoneContextManager(),
        plugins: [
          // new DocumentLoad()
          new XMLHttpRequestPlugin({
            // ignoreUrls: ['/log', '/trace'],
            propagateTraceHeaderCorsUrls: [/192.168.0.101:8080/, /localhost:50000/]
          })
        ]
      })

      const otlpExporter = new CollectorTraceExporter({
        url: this.otelCollectorUri
      })

      const processor = new SimpleSpanProcessor(otlpExporter)

      webTracer.addSpanProcessor(processor)

      webTracer.register()
    },

    browserFetch () {
      fetch(this.testUri, {
        method: 'GET'
      })
    },

    vueAxios () {
      axios.get(this.testUri)
      // .then(function (response) {
      //   alert(response.data)
      // })
      // .catch(function (error) {
      //   alert(error)
      // })
    },

    rawSync () {
      const req = new XMLHttpRequest()
      req.open('GET', this.testUri, false)
      req.send()
    },

    rawAsync () {
      const req = new XMLHttpRequest()
      req.open('GET', this.testUri, true)
      req.send()
    }

  }
})
</script>

<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
