<template>
  <div>
    <ul>
      <li
        v-for="mk in messageKinds"
        v-bind:key="mk.id"
      >
        {{ mk.code }}
        {{ namespace(mk.namespaceId).code }}
        {{ mk.disabled }}
        <button @click="$emit('message-kind-list-update', mk)">edit</button>
        <button @click="$emit('message-kind-list-delete', mk)">delete</button>
      </li>
    </ul>
    <button @click="$emit('message-kind-list-create')">Create</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import MessageKind from '@/models/MessageKind'
import Namespace from '@/models/Namespace'

export default defineComponent({
  name: 'MessageKindList',
  props: {
    messageKinds: {
      type: Array as () => Array<MessageKind>,
      required: true
    },
    namespaces: {
      type: Array as () => Array<Namespace>,
      required: true
    }
  },

  methods: {
    namespace (namespaceId: string): Namespace | undefined {
      return this.namespaces.find(({ id }) => id === namespaceId)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
