<template>
  <div>
    <div>
      Message Kind: <span v-if="messageKind">{{ messageKind.code }}</span>
      <select v-if="messageKinds" v-model="m.messageKind">
        <option v-for="mk in messageKinds" v-bind:key="mk.id" v-bind:value="mk.code">
          {{ mk.code }}
        </option>
      </select>
      <br />
      Language Tag: <input v-model="m.languageTag" /><br />
      Delivery Kind: <span v-if="deliveryKind">{{ deliveryKind.code }}</span>
      <select v-if="deliveryKinds" v-model="m.deliveryKind">
        <option v-for="dk in deliveryKinds" v-bind:key="dk.id" v-bind:value="dk.code">
          {{ dk.code }}
        </option>
      </select>
      <br />
      Input: <input v-model="input" @change="parseInput" /><span v-if="!inputOk">!!!</span>
    </div>
    <button @click="$emit('message-create-accept', m)">OK</button>
    <button @click="$emit('message-create-cancel', m)">Cancel</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import MessageRequest from '@/models/MessageRequest'
import DeliveryKind from '@/models/DeliveryKind'
import MessageKind from '@/models/MessageKind'

export default defineComponent({
  name: 'MessageCreate',
  props: {
    modelValue: {
      type: Object as () => MessageRequest,
      required: true
    },
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: false
    },
    deliveryKind: {
      type: Object as () => DeliveryKind,
      required: false
    },
    messageKinds: {
      type: Array as () => Array<MessageKind>,
      required: false
    },
    messageKind: {
      type: Object as () => MessageKind,
      required: false
    }
  },

  data () {
    return {
      input: JSON.stringify(this.modelValue.input),
      inputOk: true
    }
  },

  computed: {
    m (): MessageRequest {
      return Object.assign({}, this.modelValue)
    }
  },

  methods: {
    parseInput () {
      try {
        this.m.input = JSON.parse(this.input)
        this.inputOk = typeof this.m.input === 'object'
      } catch {
        this.inputOk = false
      }
    }

    // deliveryKind (deliveryKindIdOrCode: string): DeliveryKind | undefined {
    //   return this.deliveryKinds.find(({ id, code }) => id === deliveryKindIdOrCode || code === deliveryKindIdOrCode)
    // },

    // messageKind (messageKindIdOrCode: string): MessageKind | undefined {
    //   return this.messageKinds.find(({ id, code }) => id === messageKindIdOrCode || code === messageKindIdOrCode)
    // }
  }
})
</script>

<style scoped lang="scss">
</style>
