<template>
  <div>
    Message Kind: <select v-model="filterMessageKind">
      <option :value="null"></option>
      <option v-for="mk in messageKinds" v-bind:key="mk.id" v-bind:value="mk">
        {{ mk.code }}
      </option>
    </select>
    <button @click="$emit('message-list-refresh', filterMessageKind)">Refresh</button>
    <ul>
      <li
        v-for="m in messages"
        v-bind:key="m.id"
      >
        {{ messageKind(m.messageKind).code }}
        {{ m.languageTag }}
        {{ m.createTime }}
        {{ m.deliveries.length }}
        <button @click="$emit('message-list-view', m)">view</button>
      </li>
    </ul>
    <button @click="$emit('message-list-create')">Create</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Message from '@/models/Message'
import DeliveryKind from '@/models/DeliveryKind'
import MessageKind from '@/models/MessageKind'

export default defineComponent({
  name: 'MessageList',
  props: {
    messages: {
      type: Array as () => Array<Message>,
      required: true
    },
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: true
    },
    messageKinds: {
      type: Array as () => Array<MessageKind>,
      required: true
    }
  },

  data () {
    return {
      filterMessageKind: null as MessageKind | null
    }
  },

  methods: {
    deliveryKind (deliveryKindIdOrCode: string): DeliveryKind | undefined {
      return this.deliveryKinds.find(({ id, code }) => id === deliveryKindIdOrCode || code === deliveryKindIdOrCode)
    },

    messageKind (messageKindIdOrCode: string): MessageKind | undefined {
      return this.messageKinds.find(({ id, code }) => id === messageKindIdOrCode || code === messageKindIdOrCode)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
