<template>
  <div>
    <div>
      ID: {{ m.id }}
      <br />
      Message Kind: {{ messageKind(m.messageKind).code }}
      <br />
      Language Tag: {{ m.languageTag }}
      <br />
      Input: {{ m.input }}
      <br />
      Create Time: {{ m.createTime }}
    </div>

    <ul>
      <li
        v-for="d in m.deliveries"
        v-bind:key="d.id"
      >
        Delivery Kind: {{ deliveryKind(d.deliveryKind).code }}
        <br />
        Status: {{ d.status }}
        <br />
        Status Message: {{ d.statusMessage }}
        <br />
        Schedule Time: {{ d.scheduleTime }}
        <br />
        Deliver Time: {{ d.deliverTime }}
      </li>
    </ul>

    <button @click="$emit('message-view-close', m)">OK</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Message from '@/models/Message'
import DeliveryKind from '@/models/DeliveryKind'
import MessageKind from '@/models/MessageKind'

export default defineComponent({
  name: 'MessageView',
  props: {
    modelValue: {
      type: Object as () => Message,
      required: true
    },
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: true
    },
    messageKinds: {
      type: Array as () => Array<MessageKind>,
      required: true
    }
  },

  computed: {
    m (): Message {
      return Object.assign({}, this.modelValue)
    }
  },

  methods: {
    deliveryKind (deliveryKindIdOrCode: string): DeliveryKind | undefined {
      return this.deliveryKinds.find(({ id, code }) => id === deliveryKindIdOrCode || code === deliveryKindIdOrCode)
    },

    messageKind (messageKindIdOrCode: string): MessageKind | undefined {
      return this.messageKinds.find(({ id, code }) => id === messageKindIdOrCode || code === messageKindIdOrCode)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
