<template>
  <div>
    <div>
      ID: {{ mk.id }}
      <br />
      Code: <input v-model="mk.code" />
      <br />
      Namespace: <span v-if="namespace">{{ namespace.code }}</span>
      <select v-if="namespaces" v-model="mk.namespaceId">
        <option v-for="n in namespaces" v-bind:key="n.id" v-bind:value="n.id">
          {{ n.code }}
        </option>
      </select>
      <br />
      Disabled: <input type="checkbox" v-model="mk.disabled" />
      <br />
      Create Time: {{ mk.createTime }}
      <br />
      Update Time: {{ mk.updateTime }}
    </div>
    <button @click="$emit('message-kind-edit-accept', mk)">OK</button>
    <button @click="$emit('message-kind-edit-cancel', mk)">Cancel</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import MessageKind from '@/models/MessageKind'
import Namespace from '@/models/Namespace'

export default defineComponent({
  name: 'MessageKindEdit',
  props: {
    modelValue: {
      type: Object as () => MessageKind,
      required: true
    },
    namespaces: {
      type: Array as () => Array<Namespace>,
      required: false
    },
    namespace: {
      type: Object as () => Namespace,
      required: false
    }
  },

  computed: {
    mk (): MessageKind {
      return Object.assign({}, this.modelValue)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
