<template>
  <div>
    <ul>
      <li
        v-for="n in namespaces"
        v-bind:key="n.id"
      >
        {{ n.code }}
        <button @click="$emit('namespace-list-update', n)">edit</button>
        <button @click="$emit('namespace-list-delete', n)">delete</button>
      </li>
    </ul>
    <button @click="$emit('namespace-list-create')">Create</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Namespace from '@/models/Namespace'

export default defineComponent({
  name: 'NamespaceList',
  props: {
    namespaces: {
      type: Array as () => Array<Namespace>,
      required: true
    }
  }
})
</script>

<style scoped lang="scss">
</style>
