<template>
  <div>
    <div>
      ID: {{ n.id }}
      <br />
      Code: <input v-model="n.code" />
      <br />
      Create Time: {{ n.createTime }}
      <br />
      Update Time: {{ n.updateTime }}
    </div>
    <button @click="$emit('namespace-edit-accept', n)">OK</button>
    <button @click="$emit('namespace-edit-cancel', n)">Cancel</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Namespace from '@/models/Namespace'

export default defineComponent({
  name: 'NamespaceEdit',
  props: {
    modelValue: {
      type: Object as () => Namespace,
      required: true
    }
  },

  computed: {
    n (): Namespace {
      return Object.assign({}, this.modelValue)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
