<template>
  <div v-if="!isLoading">
    <div v-for="n in namespaces" v-bind:key="n.id">
      <ul>
        <router-link :to="{ name: 'namespace', params: { id: n.id }}">{{ n.code }}</router-link>
        <li v-for="mk in messageKinds.get(n.id)" v-bind:key="mk.id">
          <router-link :to="{ name: 'messageKind', params: { id: mk.id, namespaceId: n.id }}">{{ mk.code }}</router-link>
          <span v-if="mk.disabled">(Disabled)</span>
        </li>
      </ul>
    </div>
  </div>
  <div v-else>Loading...</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import MessageKind from '@/models/MessageKind'
import Namespace from '@/models/Namespace'
import MessageKindService from '@/services/MessageKindService'
import NamespaceService from '@/services/NamespaceService'

export default defineComponent({
  name: 'Sidebar',

  components: {
  },

  data () {
    return {
      namespaces: new Array<Namespace>(),
      messageKinds: new Map<string, Array<MessageKind>>(),
      isLoading: false
    }
  },

  methods: {
    async loadNamespaces () {
      return NamespaceService
        .retrieveAll()
        .then((namespaces: Array<Namespace>) => { this.namespaces = namespaces })
    },

    async loadMessageKinds () {
      return Promise.all(Array.from(this.namespaces, namespace => {
        MessageKindService
          .retrieveAll(namespace.id, null)
          .then((messageKinds: Array<MessageKind>) => { this.messageKinds.set(namespace.id, messageKinds) })
      }))
    }
  },

  created () {
    this.isLoading = true

    this.loadNamespaces()
      .then(() => this.loadMessageKinds())
      .catch((error: Error) => {
        console.log('error loading sidebar view: ' + error.message)
      })
      .finally(() => { this.isLoading = false })
  }
})
</script>

<style scoped lang="scss">
</style>
