<template>
  <div>
    <div>
      ID: {{ tk.id }}
      <br />
      Delivery Kind: <select v-model="tk.deliveryKindId">
        <option v-for="dk in deliveryKinds" v-bind:key="dk.id" v-bind:value="dk.id">
          {{ dk.code }}
        </option>
      </select>
      <br />
      Target Attribute: <input v-model="tk.targetAttr" />
      <br />
      Create Time: {{ tk.createTime }}
      <br />
      Update Time: {{ tk.updateTime }}
    </div>
    <button @click="$emit('template-kind-edit-accept', tk)">OK</button>
    <button @click="$emit('template-kind-edit-cancel', tk)">Cancel</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import TemplateKind from '@/models/TemplateKind'
import DeliveryKind from '@/models/DeliveryKind'

export default defineComponent({
  name: 'TemplateKindEdit',
  props: {
    modelValue: {
      type: Object as () => TemplateKind,
      required: true
    },
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: true
    }
  },

  computed: {
    tk (): TemplateKind {
      return Object.assign({}, this.modelValue)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
