<template>
  <div>
    <ul>
      <li
        v-for="tk in templateKinds"
        v-bind:key="tk.id"
      >
        <delivery-kind-preview :modelValue="deliveryKind(tk.deliveryKindId)" />
        {{ tk.targetAttr }}
        <button @click="$emit('template-kind-list-update', tk)">edit</button>
        <button @click="$emit('template-kind-list-delete', tk)">delete</button>
      </li>
    </ul>
    <button @click="$emit('template-kind-list-create')">Create</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import TemplateKind from '@/models/TemplateKind'
import DeliveryKind from '@/models/DeliveryKind'
import DeliveryKindPreview from '@/components/DeliveryKindPreview.vue'

export default defineComponent({
  name: 'TemplateKindList',
  components: {
    DeliveryKindPreview
  },
  props: {
    templateKinds: {
      type: Array as () => Array<TemplateKind>,
      required: true
    },
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: true
    }
  },

  methods: {
    deliveryKind (deliveryKindId: string): DeliveryKind | undefined {
      return this.deliveryKinds.find(({ id }) => id === deliveryKindId)
    }
  }
})
</script>

<style scoped lang="scss">
</style>
