<template>
  <div>
    <ul>
      <li
        v-for="t in templates"
        v-bind:key="t.id"
      >
        {{ templateKind(t.templateKindId) }}
        {{ messageKind(t.messageKindId).code }}
        {{ t.languageTag }}
        <button @click="$emit('template-list-update', t)">edit</button>
        <button @click="$emit('template-list-delete', t)">delete</button>
      </li>
    </ul>
    <button @click="$emit('template-list-create')">Create</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Template from '@/models/Template'

import DeliveryKind from '@/models/DeliveryKind'
import MessageKind from '@/models/MessageKind'
import TemplateKind from '@/models/TemplateKind'

export default defineComponent({
  name: 'TemplateList',
  props: {
    templates: {
      type: Array as () => Array<Template>,
      required: true
    },
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: true
    },
    messageKinds: {
      type: Array as () => Array<MessageKind>,
      required: true
    },
    templateKinds: {
      type: Array as () => Array<TemplateKind>,
      required: true
    }
  },

  methods: {
    messageKind (messageKindId: string): MessageKind | undefined {
      return this.messageKinds.find(({ id }) => id === messageKindId)
    },

    templateKind (templateKindId: string): string {
      const tk = this.templateKinds.find(({ id }) => id === templateKindId)
      if (!tk) { return '(invalid)' }

      const dk = this.deliveryKinds.find(({ id }) => id === tk.deliveryKindId)
      if (!dk) { return '(invalid)' }

      return `${dk.code}/${tk.targetAttr}`
    }
  }
})
</script>

<style scoped lang="scss">
</style>
