<template>
  <div>
    <div>
      ID: {{ t.id }}
      <br />
      Template Kind: <select v-model="t.templateKindId">
        <option v-for="tk in templateKinds" v-bind:key="tk.id" v-bind:value="tk.id">
          {{ templateKind(tk) }}
        </option>
      </select>
      <br />
      Message Kind: <select v-model="t.messageKindId">
        <option v-for="mk in messageKinds" v-bind:key="mk.id" v-bind:value="mk.id">
          {{ mk.code }}
        </option>
      </select>
      <br />
      Language Tag: <input v-model="t.languageTag" />
      <br />
      Body: <input v-model="t.body" />
      <br />
      Create Time: {{ t.createTime }}
      <br />
      Update Time: {{ t.updateTime }}
    </div>
    <button @click="$emit('template-edit-accept', t)">OK</button>
    <button @click="$emit('template-edit-cancel', t)">Cancel</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Template from '@/models/Template'

import DeliveryKind from '@/models/DeliveryKind'
import MessageKind from '@/models/MessageKind'
import TemplateKind from '@/models/TemplateKind'

export default defineComponent({
  name: 'TemplateEdit',
  props: {
    modelValue: {
      type: Object as () => Template,
      required: true
    },
    deliveryKinds: {
      type: Array as () => Array<DeliveryKind>,
      required: true
    },
    messageKinds: {
      type: Array as () => Array<MessageKind>,
      required: true
    },
    templateKinds: {
      type: Array as () => Array<TemplateKind>,
      required: true
    }
  },

  computed: {
    t (): Template {
      return Object.assign({}, this.modelValue)
    }
  },

  methods: {
    templateKind (templateKind: TemplateKind): string {
      const dk = this.deliveryKinds.find(({ id }) => id === templateKind.deliveryKindId)
      if (!dk) { return '(invalid)' }

      return `${dk.code}/${templateKind.targetAttr}`
    }
  }
})
</script>

<style scoped lang="scss">
</style>
