<template>

  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/messages">Messages</router-link> |
    <router-link to="/namespaces">Namespaces</router-link> |
    <router-link to="/messageKinds">Message Kinds</router-link> |
    <router-link to="/templates">Templates</router-link> |
    <router-link to="/deliveryKinds">Delivery Kinds</router-link> |
    <router-link to="/templateKinds">Template Kinds</router-link>
  </div>

  <div id="sidebar">
    <Sidebar />
  </div>

  <div id="content">
    <router-view :key="$route.fullPath" />
  </div>

</template>

<script lang="ts">
import Sidebar from '@/components/Sidebar.vue'

export default {
  components: {
    Sidebar
  }
}
</script>

<style lang="scss">
$sidebar-width: 200px;
$sidebar-padding: 8px;

body {
  margin: 0;
  padding: 0;
}

#nav {
  padding: 16px;
  background-color: hsl(90, 50%, 25%);

  a {
    font-weight: bold;
    color: #f0f0f0;

    // &.router-link-exact-active {
    //   color: #42b983;
    // }
  }
}

#sidebar {
  margin: 0;
  padding: $sidebar-padding;
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: hsl(90, 50%, 50%);
}

#content {
  margin-left: $sidebar-width + 2 * $sidebar-padding;
  padding: 8px;
}
</style>
